@import '../../node_modules/bootstrap/scss/bootstrap.scss';

.shortCut{
    cursor: pointer !important;
}

.shortCut:hover{
    background-color: #e1e1e1 !important;
}

.accountFooter:hover{
    background-color: #c8c8c8 !important;
}

.accountBtn:hover{
    background-color: #d8e0e7 !important;
}

.googleManageBtn:hover{
    background-color: #bdd3ed !important;
}